<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTech-The Future Health</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="script" src="/views/index.js"> -->
    <script src="/views/index.js"></script>
    <link rel="icon" href="/static/img/logo.png">
    <link rel="stylesheet" href="../app.js">
    <link rel="stylesheet" media="screen and (max-width: 1300px" href="/static/mobile.css">


</head>



<body>

    <nav class="navbar">


        <div class="logo">
            <img src="static/img/logo.png" alt="logo.img">
        </div>

        <a href="/">Home</a>
        <a href="#services">Services</a>
        <a href="#about us">About Us</a>
        <a href="#contact">Contact</a>

        <div>
            <button onclick="myFunction()" class="glow-on-hover" id="myBtn">Help line
        </div>
        <script>
            function myFunction() {
                var txt;
                if (confirm("HelpLine Number:9137705219")) {
                    alert("jagtapsumit668@gmail.com");

                } else {
                    txt = "You pressed Cancel!";
                }
                document.getElementById("demo").innerHTML = txt;
            }
        </script>

    </nav>
    <section id="introduction" class="section">


        <video autoplay loop muted plays-inline class="back-video">
            <source src="static/img/video_2022-09-23_09-44-00.mp4" type="video/mp4">
        </video>
        <div>
            <nav class="Explore_page">


                <h1>MedTech</h1>

            </nav>
        </div>
        <div class="expo">

            <a href="#services">
                <button class="glow-on-hover" id="explo">Explore </button>
            </a>

        </div>
        <a href="#services">
            <button class="explore">Explore<span class="icon-right"></span><span
                    class="icon-right after"></span></button>
        </a>
    </section>








    <section class="section-2-explore" id="services">
        <div class="Services">
            <h1>Our Services</h1>

        </div>
        <div class="content-service">
            <p>High-quality health care helps prevent diseases and improve quality of life. Healthy People 2030 focuses
                on improving health care quality and making sure all people get the health care services they need.
            </p>
            <p>Helping health care providers communicate more effectively can help improve health and well-being.
                Strategies to make sure health care providers are aware of treatment guidelines and recommended services
                are also key to improving health.
            </p>
        </div>


        <div class="sevices_3">

            <div class="glow-on-hover" id="sevices_3_box">
                <a href="#start">
                    <h1>Medicine</h1>
                </a>



            </div>

            <div class="glow-on-hover" id="sevices_3_box">
                <a href="#blood_Bank">
                    <h1>Blood Bank</h1>
                </a>


            </div>

            <div class="glow-on-hover" id="sevices_3_box">
                <a href="#organ_donation">
                    <h1>Organ Donation</h1>
                </a>


            </div>
        </div>




    </section>












    <section id="start">
        <div class="Services">
            <h1>Medicine</h1>



        </div>
        <div class="medicine_content">
            <p>
                Ayurveda, a natural system of medicine, originated in India more than 3,000 years ago. The term Ayurveda
                is derived from the Sanskrit words ayur (life) and veda (science or knowledge). Thus, Ayurveda
                translates to knowledge of life. Based on the idea that disease is due to an imbalance or stress in a
                person's consciousness, Ayurveda encourages certain lifestyle interventions and natural therapies to
                regain a balance between the body, mind, spirit, and the environment.
            </p>
            <p> It's important to discuss any Ayurvedic treatments that you use with your doctor. Women who are pregnant
                or nursing, or people who are thinking of using Ayurvedic therapy to treat a child, should consult their
                healthcare provider. It is important to make sure that any diagnosis of a disease or condition has been
                made by a healthcare provider who has substantial conventional medical training and experience with
                managing that disease or condition. While Ayurveda can have positive effects when used as a
                complementary therapy in combination with standard, conventional medical care, it should not replace
                standard, conventional medical care, especially when treating serious conditions.
            </p>
        </div>


        <div class="Medicine">




            <div class="boxes">
                <div class="inner-box">


                    <button class="inner-box"
                        onclick="window.location.href='https://www.netmeds.com/non-prescriptions/kapiva-wheat-grass-juice-1-l-1l';">
                        <img src="https://www.netmeds.com/images/product-v1/150x150/821307/kapiva_wheat_grass_juice_1_ltr_0_2.jpg"
                            alt="" height="100" width="100" />
                    </button>

                </div>

                <div class="para">


                    <b>Kapiva Wheat Grass Juice 1 ltr</b><br><b>
                        <font color="red">Best Price*
                    </b></font>₹ 404.19 <br><strike>MRP ₹ 499.00 </strike><br> GET 19% off (Inclusive of all
                    taxes)



                </div>



            </div>
            <div class="boxes">
                <div class="inner-box">
                    <button class="inner-box"
                        onclick="window.location.href='https://www.netmeds.com/non-prescriptions/himalaya-ashvagantha-tablets-60-s';">
                        <img src="https://www.netmeds.com/images/product-v1/600x600/814310/himalaya_wellness_ashvagandha_tablet_60_s_0.jpg"
                            alt="">
                    </button>
                </div>
                <div class="para">
                    <p>
                        <b>Himalaya Wellness Ashvagandha Tablet 60's</b> <br> <b>
                            <font color="red">MRP ₹</font> 165.00
                        </b> (Inclusive of all taxes) <br>Mkt: The Himalaya Drug Company <br>Country of Origin:
                        India
                        <br> Delivery charges if applicable will be applied at checkout
                    </p>
                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <button class="inner-box" onclick="window.location.href='';">
                        <img src="https://www.netmeds.com/images/product-v1/600x600/15921/dabur_shilajit_gold_capsule_10s_0_1.jpg"
                            alt="">
                    </button>


                </div>
                <div class="para">
                    <p>

                        <b>Dabur Shilajit Gold Capsule 10's</b><br>
                        <b>
                            <font color="red">Best Price* ₹
                        </b></font> 225.25
                        <br><strike>MRP ₹ 265.00</strike><br>
                        GET 15% off (Inclusive of all taxes)

                    </p>
                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <button class="inner-box"
                        onclick="window.location.href='https://www.netmeds.com/non-prescriptions/honitus-herbal-cough-remedy-100ml';">
                        <img src="https://www.netmeds.com/images/product-v1/75x75/15912/dabur_honitus_herbal_cough_remedy_syrup_100_ml_0.jpg"
                            alt="">
                    </button>


                </div>
                <div class="para">
                    <p>
                        <b>Dabur Honitus Herbal Cough Remedy Syrup 100 ml</b><br>
                        <font color="red"><b>Best Price*</b> ₹ </font>106.95 <strike><br>MRP ₹ 115.00 </strike><br>
                        GET
                        7% off (Inclusive of all taxes)
                    </p>
                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <button class="inner-box"
                        onclick="window.location.href='https://www.netmeds.com/non-prescriptions/lama-isobael-granules-200-gm';">
                        <img src="https://www.netmeds.com/images/product-v1/600x600/921409/lama_isobael_granules_200_gm_0_0.jpg"
                            alt="">
                    </button>


                </div>
                <div>
                    <p>
                        <b>Lama Isobael Granules 200 gm</b><br>
                        <font color="red"><b>Best Price* </b>₹</font> 210.00 <br><strike>MRP ₹ 280.00</strike> <br>
                        GET
                        25% off (Inclusive of all taxes)
                    </p>
                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <button class="inner-box"
                        onclick="window.location.href='https://www.netmeds.com/non-prescriptions/dr-vaidyas-shilajit-gold-capsule-30s';">
                        <img src="https://www.netmeds.com/images/product-v1/600x600/986168/dr_vaidyas_shilajit_gold_capsule_pack_of_3_x_30s_0_0.jpg"
                            alt="">
                    </button>


                </div>
                <div>
                    <p>
                        <b>Dr.Vaidya's Shilajit Gold Capsule (Pack of 3 x 30's)</b> <br>
                        <font color="red"><b>Best Price* ₹</b></font>1,507.50 <br><strike>MRP ₹ 2,250.00</strike><br>
                        GET
                        33% off (Inclusive of all taxes)
                    </p>
                </div>

            </div>

            <div class="boxes">
                <div class="inner-box">
                    <div>
                        <button class="inner-box"
                            onclick="window.location.href='https://www.netmeds.com/non-prescriptions/japani-oil-15-ml';">
                            <img src="https://www.netmeds.com/images/product-v1/600x600/857387/japani_oil_15_ml_0.jpg"
                                alt="">
                        </button>
                    </div>
                    <div>
                        <p>

                            <b>Japani Oil 15 ml</b> <br>
                            <font color="red"><b>Best Price* ₹</b></font> 170.10 <br><strike>MRP ₹ 189.0</strike><br>
                            GET 33% off (Inclusive of all taxes)
                        </p>
                    </div>



                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <div>
                        <button class="inner-box"
                            onclick="window.location.href='https://www.netmeds.com/non-prescriptions/dr-ortho-pain-relief-oil-100-ml';">
                            <img src="https://www.netmeds.com/images/product-v1/600x600/886892/dr_ortho_pain_relief_oil_100_ml_0.jpg"
                                alt="">
                        </button>
                    </div>
                    <div>
                        <p>
                            <b>Dr.Ortho Pain Relief Oil 100 ml</b> <br>
                            <font color="red"><b>Best Price* ₹</b></font>280.25 <strike>MRP ₹ 295.00 </strike><br>
                            GET
                            5% off (Inclusive of all taxes)
                        </p>

                    </div>


                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <div>
                        <button class="inner-box"
                            onclick="window.location.href='https://www.netmeds.com/non-prescriptions/kerala-ayurveda-imugest-tablet-100-s';">
                            <img src="https://www.netmeds.com/images/product-v1/150x150/825057/kerala_ayurveda_imugest_tablet_pack_of_10_x_10_s_0.jpg"
                                alt="">
                        </button>
                    </div>
                    <div>
                        <p>
                            <b>Kerala Ayurveda Imugest Tablet (Pack of 10 x 10's)</b> <br>
                            <font color="red"><b>Best Price* ₹</b></font>425.00 <strike>MRP ₹ 500.00 </strike><br>
                            GET
                            15% off (Inclusive of all taxes)
                        </p>

                    </div>



                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <div>
                        <button class="inner-box"
                            onclick="window.location.href='https://pharmeasy.in/health-care/products/dr-vaidya-s-amla-juice---1-litre-3028657';">
                            <img src="https://cdn01.pharmeasy.in/dam/products_otc/J39656/dr-vaidyas-amla-juice-1-litre-2-1648528672.jpg?dim=700x0&dpr=1&q=100"
                                alt="">
                        </button>
                    </div>
                    <div>
                        <p>
                            <b>Dr. Vaidya'S Amla Juice - 1 Litre</b> <br>
                            <font color="red"><b>Best Price* ₹</b></font>237.5 <strike>MRP ₹ 250 </strike><br>
                            GET
                            5% off (Inclusive of all taxes)
                        </p>

                    </div>


                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <div>
                        <button class="inner-box"
                            onclick="window.location.href='https://pharmeasy.in/health-care/products/patanjali-arogyavardhini-vati-160tab-3027108';">
                            <img src="https://cdn01.pharmeasy.in/dam/products_otc/S81349/patanjali-divya-arogyavardhini-vati-160-n-2-1642581200.jpg?dim=700x0&dpr=1&q=100"
                                alt="">
                        </button>
                    </div>
                    <div>
                        <p>
                            <b>Patanjali Divya Arogyavardhini Vati 160 N</b> <br>
                            <font color="red"><b>Best Price* ₹</b></font>109.25 <strike>MRP ₹ 115 </strike><br>
                            GET
                            5% off (Inclusive of all taxes)
                        </p>

                    </div>


                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <div>
                        <button class="inner-box"
                            onclick="window.location.href='https://pharmeasy.in/health-care/products/liveasy-wellness-calcium-magnesium-vitamin-d3-zinc---bones-dental-health---bottle-of-60-tablets-235886';">
                            <img src="https://cdn01.pharmeasy.in/dam/products_otc/T22634/liveasy-wellness-calcium-magnesium-vitamin-d3-zinc-bones-dental-health-bottle-60-tabs-2-1661760061.jpg?dim=700x0&dpr=1&q=100"
                                alt="">
                        </button>
                    </div>
                    <div>
                        <p>
                            <b>Liveasy Wellness Calcium, Magnesium, Vitamin D3 & Zinc - Bones & Dental Health - Bottle
                                60 Tabs</b> <br>
                            <font color="red"><b>Best Price* ₹</b></font>329.45 <strike>MRP ₹ 599 </strike><br>
                            GET
                            45% off (Inclusive of all taxes)
                        </p>

                    </div>


                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <div>
                        <button class="inner-box"
                            onclick="window.location.href='https://pharmeasy.in/health-care/products/zandu-ultra-power-balm-8-ml-172162';">
                            <img src="https://cdn01.pharmeasy.in/dam/products_otc/I05670/zandu-ultra-power-balm-8-ml-1-1654168033.jpg?dim=700x0&dpr=1&q=100"
                                alt="">
                        </button>
                    </div>
                    <div>
                        <p>
                            <b>Zandu Ultra Power Balm 8 Ml</b> <br>
                            <font color="red"><b>Best Price* ₹</b></font>45.6 <strike>MRP ₹ 48 </strike><br>
                            GET
                            5% off (Inclusive of all taxes)
                        </p>

                    </div>


                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <div>
                        <button class="inner-box"
                            onclick="window.location.href='https://www.apollopharmacy.in/otc/apollo-pharmacy-amla-candy-250-gm';">
                            <img src="https://newassets.apollo247.com/pub/media/catalog/product/i/m/img_9189.jpg"
                                alt="">
                        </button>
                    </div>
                    <div>
                        <p>
                            <b>Apollo Pharmacy Amla Candy, 250 gm</b> <br>
                            <font color="red"><b>Best Price* ₹</b></font>76.50 <strike>MRP ₹85.00 </strike><br>
                            GET
                            10% off (Inclusive of all taxes)
                        </p>

                    </div>


                </div>

            </div>
            <div class="boxes">
                <div class="inner-box">
                    <div>
                        <button class="inner-box"
                            onclick="window.location.href='https://www.apollopharmacy.in/otc/apollo-life-aloe-vera-juice-500ml';">
                            <img src="https://newassets.apollo247.com/pub/media/catalog/product/i/m/img_9267.jpg"
                                alt="">
                        </button>
                    </div>
                    <div>
                        <p>
                            <b>Apollo Life Aloe Vera Juice, 500 ml</b> <br>
                            <font color="red"><b>Best Price* ₹</b></font>153.00 <strike>MRP ₹ 170.00 </strike><br>
                            GET
                            10% off (Inclusive of all taxes)
                        </p>

                    </div>


                </div>

            </div>
        </div>
        <!-- <div class="name">
            my name
            </div> -->


    </section>

    <section class="bb_section" id="blood_Bank">

        <div class="bb_page">


            <h1 class="Tital">
                Saves Lives
            </h1>
            <div class="Sub-Tital">
                <h2>Join Our Wonderful Community and start saving Lives.</h2>
                <p> You can become someone's unknown but all
                    important Hero.</p>

            </div>
            <div class="image_section">
                <div id="images_1" class="Image_1">
                    <img src="/static/img/organ_donation_1.png" alt="">
                </div>
                <div id="images_2" class="Image_1">
                    <img src="/static/img/bb_img1.png" alt="blood bank img">
                </div>
                <div id="images_3" class="Image_1">
                    <img src="/static/img/blood_donation_3.png" alt="">
                </div>
            </div>

        </div>
        <div>
            <nav class="bb_nav">

                <a href="/views/bb">
                    <button class="bb_btn">Explore </button>
                </a>
            </nav>
        </div>

        </div>
    </section>


    <section class="organ_section" id="organ_donation">

        <div class="Services">
            <h1>Organ donation</h1>

        </div>
        <div class="organ-content-2">
            <h1>Hope and Happiness through your support</h1>

        </div>
        <div class="organ-content">
            <div class="Sub-Tital-organ">
                <div class="image_section_1">
                    <div id="images_10" class="Image_3">
                        <img src="/static/img/organ_img_2.png" alt="">
                    </div>

                </div>


            </div>
            <div class="Sub-Tital-organ">
                <h2>Donation After Life</h2>
                <li> When you die, you can give an organ—or part of an organ—to someone in need. You can improve and
                    savelives.</li>
                <li> Come ahead and take part in saving lives..</li>
                <li> No caste – No bar – save lives – donate organs.</li>
                <li> Support organ donation across the nation.</li>

            </div>
        </div>

        <div>
            <nav class="bb_nav">

                <a href="organ_donation.html">
                    <button class="bb_btn" id="organ-btn">Explore </button>
                </a>
            </nav>
        </div>
    </section>


    <section class="section-3-about_us" id="about us">
        <div class="service-box-aboutus">
            <div id="about_service">
                <div class="info_in_servicebox" id="img_ID">
                    <img src="/static/img/service_box_img1.png" alt="service_box_img">
                </div>
                <div class="info_in_servicebox" id="info_ID">
                    <div class="Services">
                        <h1>About Us</h1>
                    </div>
                    <div class="content_about">
                        <p>The power of community to create health is far greater than any physician, clinic or hospital.
                         </p>
                    </div>

                    <div class="info-in-servicebox_innerbox" id="sumit_img">
                        <img src="/static/img/sumit.jpg" alt="sumit">
                        Sumit Sahebrao Jagtap. [Department of Information Technology]
                    </div>
                    <div class="info-in-servicebox_innerbox" id="mayur_img">
                        <img src="/static/img/mayur.jpeg" alt="mayur">
                        Mayur Mohen Indalkar. [Department of Information Technology]
                    </div>
                    <div class="info-in-servicebox_innerbox" id="shubham_img">
                        <img src="/static/img/shubham_shirsath.jpg" alt="shubham">
                        Shubham Manik Shirsat.  [Department of Information Technology]
                    </div>
                    <div class="info-in-servicebox_innerbox" id="manish_img">
                        <img src="/static/img/manish.jpeg" alt="manish">
                        Manish Mahendra Gamare.  [Department of Information Technology]
                    </div>
                </div>
            </div>

        </div>

        </div>
    </section>
    <section id="contact">
        <div class="Services" id="contact_us_id">
            <h1>Contact Us</h1>
        </div>
        <div id="contact-box">
            <form id="contactForm" action="/contact" method="post" class="myform">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="phone" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                </div>
                <button class="btn" type="submit">submit

                </button>
                <button class="btn" type="reset">Reset

                </button>
                <!-- <script src="index.js"></> -->
            </form>
        </div>
    </section>

    <footer>


        Copyright &copy; www.MedTech.com. All rights reserved!


    </footer>

</body>

</html>